{
  "extends": [
    "plugin:prettier/recommended"
  ],

  "plugins": ["prettier"],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },

  "parser": "@babel/eslint-parser",

  "rules": {
    "prettier/prettier": "error",
    "semi": "error"
  }
}