#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerVertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 85%;
}

.item {
  width: 50%;
}

.swatch {
  flex-grow: 1;
  height: 60px;
}

@media only screen and (max-width: 956px) {
  .inputContainer {
    width: 100%;
  }
  .inputContainer input {
    width: 100%;
  }

  .spaceAround {
    flex-direction: column;
  }

  .item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .flexContainer {
    width: 100%;
  }
}
